@page "/absen"

@using AbsenCoordinatWeb.Models
@using AbsenCoordinatWeb.Data

@inject AbsenService absenService
@inject NavigationManager nav

<h4>ABSEN</h4>
<p>Dafar Absen</p>
<a href="/absen/create"><span class="oi oi-plus" aria-hidden="true"></span></a>

@if (absens == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Masuk</th>
                <th>Pulang</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in absens)
            {
                <tr>
                    <td>@item.Karyawan.Name</td>
                    <td>@item.Masuk</td>
                    <td>@item.Pulang</td>
                    <td>
                        <button @onclick="()=>edit(item.Id)" class="btn btn-warning">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Absen> absens;

    protected override async Task OnInitializedAsync()
    {
        absens = await absenService.Get();
    }

    void edit(int id)
    {
        nav.NavigateTo($"/cuti/change/{id}");
    }
}
